@import "assets/icons/css/icons.css";

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
    background: #f5f5f7;
    text-align: left;
}

h1	{
    font-size: 2.618em;
    font-weight: 100;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    margin: 0 0 20px 0;
    font-weight: 200;
    color: #7A6A53;
}

h3 {
    margin: 0;
}

a {
    color: #348493;
}

ul {
    margin: 0 0 1.5em 0;
    padding: 0 1.5em;
}

.icon {
    font-size: 20px;
}

/* Header & footer */

body > header, body > footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #99B2B7;
    color: white;
}

body > footer {
    padding: 20px;
}

header h1 {
    margin: 0;
    padding: 0 20px;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    display: flex;
    align-items: center;
    padding: 10px;
    vertical-align: center;
    color: inherit;
    text-decoration: none;
}

header nav a.active {
    background: #f5f5f7;
    color: #99B2B7;
}

header nav a:hover:not(.active) {
    background: rgba(0, 0, 0, 0.1);
}

/* Sections */

body > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    background: #f5f5f7;
}

section section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

section section:last-child {
    border: none;
}

section.section--featured + section,
section.section--featured + footer {
    box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 50px;
}

.section__type {
    align-self: center;
    margin: 0;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    background: #99B2B7;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    color: white;
}

.section__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.section__content {
    width: 100%;
    margin: 0 10px 10px 10px;
    padding: 20px;
    background: white;
}

.section--featured + section,
.header + section {
    padding-top: 10px;
}

.section--featured {
    border-top: 1px solid #D5DED9;
    background: rgba(0, 0, 0, 0.02);
    overflow: hidden;
}

.section--featured .section__content {
    margin: 0;
    background: none;
}

.section--featured h2 {
    font-weight: 600;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.section--featured img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
}

.year {
    font-size: 1.5em;
    display: inline-block;
    padding: 0px 20px;
    border-radius: 40px;
    font-weight: 100;
    white-space: nowrap;
}

.year::before {
    content: '/ ';
}

.section__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.section__image:nth-child(1) {
    align-self: flex-start;
}
.section__image:nth-child(2) {
    align-self: flex-end;
}

@media screen and (min-width: 900px) {
    .section__content,
    .header__content {
        width: 800px;
    }
    
    .section__type {
        margin-bottom: 20px;
    }
    
    .section--featured .section__inner {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        max-width: 1000px;
    }
    
    .section--featured .section__content {
        flex: 1 1 auto;
        width: initial;
        margin: 0 0 0 20px;
    }
    
    .section__images {
        flex: 0 0 auto;
    }

    .project--rvc .section__images {
        flex-direction: row !important;
        justify-content: space-around;
        order: 2;
    }
    
    .project--rvc .section__inner {
        align-items: center;
        max-width: 100%;
        flex-direction: column !important;
    }
    
    .project--rvc .section__content {
        flex: 0 0 auto;
        max-width: 700px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    .header__content {
        align-items: center;
        flex-direction: column;
    }
    
    header nav {
        width: 100%;
    }
    
    header nav a {
        flex: 1;
        justify-content: center;
    }
}

.project--dialogica .section__image:first-child {
    transform: translateX(-10px);
}

.project--dialogica .section__image:last-child {
    transform: translateX(10px);
}

.project--dialogica .section__image,
.project--rvc .section__image {
    margin-bottom: -20px;
}

.project--mixit .section__images {
    max-width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project--mixit .section__image {
    margin-bottom: 20px;
}

.project--mixit .section__image:first-child {
    margin-bottom: -50px;
}

.project--mixit .section__image:nth-child(2) {
    margin: 0 20px;
}

.project--mixit .section__image:nth-child(3) {
    margin: 0 20px;
}

.project--rvc .section__image:nth-child(2) {
    transform: translateY(-20px);
}

@media screen and (max-width: 900px) {
    .section__content {
        order: -1;
    }
    
    .project--rvc .section__image:nth-child(2) {
        transform: translateX(10px);
    }
}

.contact-details {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 -5px 0 0;
    padding: 0;
    color: inherit;
    border-radius: 20px;
}

.contact-details li {
    vertical-align: baseline;
    flex-grow: 1;
    border-radius: 20px;
    padding: 2px 10px;
    margin:  0 5px 5px 0;
    background: #eee;
    transition: 0.3s ease-in-out background, color;
}

footer .contact-details li {
    background: none;
}

.contact-details li:hover {
    background: white;
    color: #348493;
}

.contact-details a {
    color: inherit;
    text-decoration: none;
}

.contact-details li:hover a {
    color: inherit;
}

.contact-details li img {
    position: relative;
    margin: 2px .5em 0 0;
}

.contact__phone img {top: 5px;}
.contact__mail img {top: 5px;}
.contact__linkedin img {top: 2px;}
.contact__github img {top: 5px;}

th {
    text-align: left;
}

td {
    border-top: 1px solid #eee;
}

td {
    vertical-align: top;
    padding: 10px 10px 10px 0;
}

td:first-child {
    white-space: nowrap;
}


@media screen and (max-width: 600px) {
    thead {
        display: none;
    }
    
    table, tbody, tr, td {
        display: flex;
        float: left;
        clear: both;
        width: 100%;
        flex-direction: column;
    }
    
    tr {
        padding: 10px 10px 10px 0;
        border-top: 1px solid #eee;
    }
    
    td {
        padding: 0;
        border: none;
        line-height: 1.5;
    }
    
    td:nth-child(2) {
        font-weight: 600;
    }
}

.position__company {
    font-size: 1.2em;
    font-weight: 300;
    display: block;
    margin: 0;
}
.position__location:before {
    content: '| '
}
.position__period {
    display: inline-block;
    color: #666;
}

.position__location {
    display: inline-block;
    color: #666;
}

.skill-list {
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}

.skill-list li {
    margin-bottom: .5em;
}

.skill__header {
    display: inline-block;
    padding: .2em 0;
    font-style: italic;
    color: #666;
}

.skill__more {
    color: #999;
    font-size: .8333em;
}

.keyword {
    display: inline;
}

.keyword:after {
    content: ' | ';
    color: #ccc;
}

.keyword:last-child:after {
    content: '';
}

@media print {
    body {
        font-size: 9pt !important;
        text-align: left;
    }

    @page {
        margin: 20mm 15mm;
    }
    
    h1, section, header, footer, div {
        padding: 0 !important;
        margin: 0 !important;
        display: block !important;
        width: auto !important;
        box-shadow: none !important;
    }
    
    body > section {
        margin-bottom: 0.5cm !important;
    }
    
    h2 {
        page-break-after: avoid;
    }
    
    header nav, footer {
        display: none !important;
    }

    section {
        text-align: left;
        border-top: 1px solid #ccc;
    }

    section:first-child {
        border: none;
    }

    section section {
        border: none;
        page-break-inside: avoid;
    }
    
    .contact-details, 
    .contact-details li {
        display: block;
        margin: 0;
        padding: 0;
    }

    .contact__linkedin a:after {
        content: ': ' attr(href);
    }
    .contact__github a:after {
        content: ': ' attr(href);
    }
}