@import "assets/icons/css/icons.css";

* {
    box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", "Segoe UI", sans-serif;
	margin: 0;
	padding: 0;
    font-size: 16px;
	line-height: 1.5;
	color: #444;
	background: #f5f5f7;
    text-align: left;
}

h1	{
	font-size: 2.618em;
	font-weight: 100;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    margin: 0 0 20px 0;
	font-weight: 200;
	color: #7A6A53;
}

h3 {
    margin: 0;
}

a {
    color: #348493;
}

ul {
	margin: 0 0 1.5em 0;
	padding: 0 1.5em;
}

.icon {
	font-size: 20px;
}

/* Header & footer */

body > header, body > footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
    background: #99B2B7;
	color: white;
}

body > footer {
    padding: 20px;
}

header h1 {
    margin: 0;
    padding: 0 20px;
}

.header__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
	border-radius: 10px 10px 0 0;
}

header nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}

header nav a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    vertical-align: center;
    color: inherit;
    text-decoration: none;
}

header nav a.active {
    background: #f5f5f7;
    color: #99B2B7;
}

header nav a:hover:not(.active) {
    background: rgba(0, 0, 0, 0.1);
}

/* Sections */

body > section {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
	margin: 0;
	background: #f5f5f7;
}

section section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

section section:last-child {
    border: none;
}

section.section--featured + section,
section.section--featured + footer {
	box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 50px;
}

.section__type {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
	margin: 0;
	padding: 5px 10px;
	border-radius: 0 0 10px 10px;
	background: #99B2B7;
	font-size: 0.8em;
	font-style: italic;
	text-align: center;
	color: white;
}

.section__inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 100%;
}

.section__content {
    width: 100%;
    margin: 0 10px 10px 10px;
	padding: 20px;
    background: white;
}

.section--featured + section,
.header + section {
    padding-top: 10px;
}

.section--featured {
    border-top: 1px solid #D5DED9;
    background: rgba(0, 0, 0, 0.02);
	overflow: hidden;
}

.section--featured .section__content {
    margin: 0;
	background: none;
}

.section--featured h2 {
    font-weight: 600;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.section--featured img {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
}

.year {
    font-size: 1.5em;
	display: inline-block;
	padding: 0px 20px;
	border-radius: 40px;
    font-weight: 100;
    white-space: nowrap;
}

.year::before {
    content: '/ ';
}

.section__images {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 100%;
}

.section__image:nth-child(1) {
	-webkit-align-self: flex-start;
	    -ms-flex-item-align: start;
	        align-self: flex-start;
}
.section__image:nth-child(2) {
	-webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	        align-self: flex-end;
}

@media screen and (min-width: 900px) {
    .section__content,
    .header__content {
        width: 800px;
    }
    
    .section__type {
        margin-bottom: 20px;
    }
    
	.section--featured .section__inner {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		max-width: 1000px;
	}
	
	.section--featured .section__content {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
        width: initial;
        margin: 0 0 0 20px;
	}
	
	.section__images {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 auto;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
	}

	.project--rvc .section__images {
		-webkit-box-orient: horizontal !important;
		-webkit-box-direction: normal !important;
		-webkit-flex-direction: row !important;
		    -ms-flex-direction: row !important;
		        flex-direction: row !important;
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		    -ms-flex-order: 2;
		        order: 2;
	}
	
	.project--rvc .section__inner {
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		            -ms-grid-row-align: center;
		        align-items: center;
		max-width: 100%;
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		-webkit-flex-direction: column !important;
		    -ms-flex-direction: column !important;
		        flex-direction: column !important;
	}
	
	.project--rvc .section__content {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
		max-width: 700px;
        margin-bottom: 20px;
	}
}

@media screen and (max-width: 700px) {
    .header__content {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    header nav {
        width: 100%;
    }
    
    header nav a {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.project--dialogica .section__image:first-child {
	-webkit-transform: translateX(-10px);
	        transform: translateX(-10px);
}

.project--dialogica .section__image:last-child {
	-webkit-transform: translateX(10px);
	        transform: translateX(10px);
}

.project--dialogica .section__image,
.project--rvc .section__image {
	margin-bottom: -20px;
}

.project--mixit .section__images {
	max-width: 400px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

.project--mixit .section__image {
	margin-bottom: 20px;
}

.project--mixit .section__image:first-child {
	margin-bottom: -50px;
}

.project--mixit .section__image:nth-child(2) {
	margin: 0 20px;
}

.project--mixit .section__image:nth-child(3) {
	margin: 0 20px;
}

.project--rvc .section__image:nth-child(2) {
	-webkit-transform: translateY(-20px);
	        transform: translateY(-20px);
}

@media screen and (max-width: 900px) {
	.section__content {
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		    -ms-flex-order: -1;
		        order: -1;
	}
	
	.project--rvc .section__image:nth-child(2) {
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
}

.contact-details {
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	list-style: none;
	margin: 0 -5px 0 0;
	padding: 0;
	color: inherit;
	border-radius: 20px;
}

.contact-details li {
	vertical-align: baseline;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	border-radius: 20px;
	padding: 2px 10px;
	margin:  0 5px 5px 0;
    background: #eee;
	-webkit-transition: 0.3s ease-in-out background, color;
	transition: 0.3s ease-in-out background, color;
}

footer .contact-details li {
    background: none;
}

.contact-details li:hover {
	background: white;
	color: #348493;
}

.contact-details a {
	color: inherit;
	text-decoration: none;
}

.contact-details li:hover a {
	color: inherit;
}

.contact-details li img {
	position: relative;
	margin: 2px .5em 0 0;
}

.contact__phone img {top: 5px;}
.contact__mail img {top: 5px;}
.contact__linkedin img {top: 2px;}
.contact__github img {top: 5px;}

th {
	text-align: left;
}

td {
    border-top: 1px solid #eee;
}

td {
	vertical-align: top;
	padding: 10px 10px 10px 0;
}

td:first-child {
	white-space: nowrap;
}


@media screen and (max-width: 600px) {
	thead {
		display: none;
	}
	
	table, tbody, tr, td {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
	}
    
    tr {
	    padding: 10px 10px 10px 0;
        border-top: 1px solid #eee;
    }
    
    td {
        padding: 0;
        border: none;
        line-height: 1.5;
    }
    
    td:nth-child(2) {
        font-weight: 600;
    }
}

.position__company {
	font-size: 1.2em;
	font-weight: 300;
	display: block;
	margin: 0;
}
.position__location:before {
	content: '| '
}
.position__period {
	display: inline-block;
	color: #666;
}

.position__location {
	display: inline-block;
	color: #666;
}

.skill-list {
	list-style: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}

.skill-list li {
	margin-bottom: .5em;
}

.skill__header {
	display: inline-block;
	padding: .2em 0;
	font-style: italic;
	color: #666;
}

.skill__more {
	color: #999;
	font-size: .8333em;
}

.keyword {
	display: inline;
}

.keyword:after {
	content: ' | ';
	color: #ccc;
}

.keyword:last-child:after {
	content: '';
}

@media print {
	body {
		font-size: 9pt !important;
        text-align: left;
	}
    
    h1, section, header, footer, div {
        padding: 0 !important;
        margin: 0 !important;
        display: block !important;
        width: auto !important;
        box-shadow: none !important;
    }
    
    body > section {
        margin-bottom: 0.5cm !important;
    }
    
    h2 {
        page-break-after: avoid;
    }
    
    header nav, footer {
        display: none !important;
    }

	section {
        text-align: left;
		border-top: 1px solid #ccc;
	}

	section:first-child {
		border: none;
	}

	section section {
		border: none;
		page-break-inside: avoid;
	}
    
    .contact-details, 
	.contact-details li {
		display: block;
        margin: 0;
        padding: 0;
	}

	.contact__linkedin a:after {
		content: ': ' attr(href);
	}
	.contact__github a:after {
		content: ': ' attr(href);
	}
}